# Игнорируем файлы, создаваемые Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем файлы окружения
.env
*.env
venv/
.venv/

# Игнорируем файлы, создаваемые IDE (PyCharm, VS Code)
.idea/
.vscode/

# Игнорируем базы данных SQLite (если используешь)
*.sqlite3
*.db

# Игнорируем дампы базы данных
*.sql

# Игнорируем файлы миграций, если их не хочешь коммитить (обычно коммитят)
**/migrations/*.py
!**/migrations/__init__.py

# Игнорируем статику и медиафайлы (если их не храним в гите)
staticfiles/
media/

# Игнорируем файлы логов
*.log
logs/

# Игнорируем файлы кеша
*.swp
*.swo
.DS_Store

# Если используешь Celery
celerybeat-schedule
