{% extends 'base.html' %}
{% load static %}
{% block extra_style %}
<link href="{% static 'collection/css/style.css' %}" rel='stylesheet'>
{% endblock  %}
{% block content %}
<section class="search-section mt-3">
  <div class="container">
    <form class="d-flex" action="{% url 'collection:search_view' %}" method="GET">
      <input class="form-control me-2" type="search" placeholder="Поиск фильмов..." aria-label="Search" name="query">
      <button class="btn btn-outline-dark" type="submit">Найти</button>
    </form>
  </div>
</section>
<section class="movie-section mt-5">
  <div class="container">
    <div class="row">
      {% if was_search %}
        {% for film in films %}
          {% include 'collection/includes/film_search_card.html' with film=film %}
        {% empty %}
          <p>Такого у нас нет :(</p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
{% block extra_script %}
  <script src="{% static 'collection/js/add_from_search_script.js' %}"></script>
{% endblock  %}

